<div class="card">
  <div class="card-header">Liste des étudiants et intervenants</div>
  <div class="card-body">
    <table class="table" *ngIf="persons.length">
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Rôle (Promotion)</th>
        <th></th>
      </tr>
      <tr *ngFor="let person of persons">
        <td width="25%">{{person.lastName}}</td>
        <td width="25%">{{person.firstName}}</td>
        <td width="30%">
          {{ person.role }}
          ({{ person | promotion }})
        </td>
        <td width="20%">
          <button class="btn btn-warning" (click)="beginEdit(person)">Editer</button>
          <button class="btn btn-danger" (click)="delete(person)">Supprimer</button>
        </td>
      </tr>
    </table>
  </div>
</div>
